$clr-prim: #f5487f;
$clr-mid-prim: #c7417b;
$clr-dark-prim: #8f3b76;
$clr-prim-dark: #553772;
$clr-sec-dark: #1f306e;

$fw-n: 400;
$fw-b: 600;

$ff: 'Poppins', 'Open Sans', Arial, Helvetica, sans-serif;

$pad-v: 10px;
$pad-h: 16px;
$pad-b: $pad-v $pad-h;

$trans-time: 0.2s;
$delay-time: $trans-time * 2;

$stretch: scaleX(2) scaleY(1.6);
$stretch-rev: scaleX(0.8) scaleY(0.5);
