@import 'vars';

#app {
    padding: $pad-b;
    background-color: $clr-prim-dark;
    color: #fff;
}

#app-body {
    flex: 1;
    position: relative;
    margin: $pad-b;
}

#app-name {
    max-height: calc(100% - 128px);
}

#app-footer {
    margin: $pad-b;
}
