@import 'vars';

#preloader {
    background-color: $clr-prim-dark;
    color: #fff;
}

#preloader .brand-cont img {
    height: 64px;
}

#preloader .loader {
    margin-top: 32px;
}
#preloader .loader .circle {
    width: 16px;
    height: 16px;
    margin: 0 8px;
    transform: scale(0) $stretch;
    border-radius: 100%;
    border: 0 solid $clr-prim;
    animation: preloader 1s infinite;
}
#preloader .loader .circle:nth-child(2) {
    animation-delay: 0.15s;
}
#preloader .loader .circle:nth-child(3) {
    animation-delay: 0.3s;
}

#preloader .loader.hid {
    margin-top: 0;
}
#preloader .loader.hid .circle {
    animation-name: unset;
}

@keyframes preloader {
    40% {
        transform: scale(1) translateY(20%);
        border-width: 4px;
    }
}
